
<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class='field '>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class='field'>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions" style="btn btn-outline-success">
    <%= submit_tag 'Login', style:"btn btn-outline-success" %>
    <%= link_to 'Back', posts_path , class:"btn btn-outline-success" , style:"margin-left: 10px;"%>
  </div>
<% end %>