<% @post.comments.each do |comment| %>
  <br><br>
  <div class="card">
    <div class="card-header">
      Author: <%= full_name(@post) %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>
      <p class="blockquote-footer"><%= fa_icon "calendar" %>   <%= l comment.created_at, format: "%e %B " "%H:%M:%S" %></p>
      <% if current_user %>
        <% if @post.author_id == @current_user.id  %>
          <%= link_to 'Edit',  edit_post_comment_path(@post, comment), class:'btn btn-outline-success' %>
          <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' }, class:"btn btn-outline-success"%>
        <% end %>
      <% end  %>
    </div>
  </div>
<% end %>