<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>

  <% if current_user %>
    <% if @post.author_id == @current_user.id  %>
      <div class="form-group row">
        <%= form.label :body,"Add comment", class:"col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.text_area :body, class:"form-control" %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit  class:"btn btn-outline-success" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "log in to view or add a comment", login_path, class:"btn btn-outline-dark" %>
  <% end  %>
<% end %>


