<div style="background: #e4eaeb; margin-top: 50px; padding-top: 20px; font-size: 
">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group row" style="margin-left: 30px;">
    <%= form.label :author, class:"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <%= form.collection_select(:author_id, Author.all, :id, :full_name, {}, class: "form-control")%>
    </div>
  </div>

  <div class="form-group row" style="margin-left: 30px;">
    <%= form.label :title, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row" style="margin-left: 30px;" >
    <%= form.label :content, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_area :content, class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row" style="margin-left: 30px;" >
    <%= form.label :picture, class:"col-sm-2 col-form-label"%>
    <div class="col-sm-8">
      <label class="btn btn-outline-dark">
        Add image
        <span style="display:none;">
          <%= form.file_field :image, required: true, multiple: true, name: 'picture' %>
        </span>
      </label>
    </div>
  </div>

  <div class="actions" style="margin-left: 40px; padding-bottom: 50px;margin-top: 50px;">
    <%= form.submit  class:"btn btn-outline-success" %>
    
<% end %>
<%= link_to 'Back', posts_path , class:"btn btn-outline-success" , style:"margin-left: 10px;"%>
  </div>