

<div class="titles">
  <div class="titles">
    <p>Welcome to Our Blog!</p>
  </div>
    <%= button_to "add post", new_post_path(@post), :class => "button_new_post", :method => :get %><br>
  </div>

<div class="background">
  <% @posts.each do |post| %>
    <br>
    <div class="card">
      <div class="card-header" style="font-size: 25px">
        <%= post.title %>
      </div>
      <div class="card-body" style="background: #b6dbd4">
        <blockquote class="blockquote mb-0">
            <div class="row">
              <div class="col-8">
                <p style="font-size: 20px"><%=h truncate(post.content, :length => 300 ) %></p>
                <footer class="blockquote-footer">author:
                  <cite title="Source Title"><%= full_name(post) %>
                    <p style="font-size: 13px">
                      <br>
                    <%= fa_icon "calendar" %> <%= post.created_at.to_date.strftime("%d %B, %Y") %>
                    </p>
                  </cite>
                </footer>
              </div>
              <div class="col-4 ">
                <% if post.image.attached? %>
                  <!-- @post.image.present? will always return true, use attached? to check presence -->
                    <%= image_tag post.image ,size: "350x350" if post.image.attached?%>
                <% end %>
              </div>
            </div>
        </blockquote>
        <%= link_to 'Show', post, class:"btn btn-outline-success" %> 
      </div>
    </div>
  <% end %>
</div>

 