

<div class="titles">
  <div class="titles">
    Welcome to Our Blog!
  </div>
  <%= button_to "add post", new_post_path(@post), :class => "button_new_post", :method => :get %>
</div>

<div class="post_index">
  <% @posts.each do |post| %>
    <br>
    <div class="card">
      <div class="card-header">
       <%= post.title %>
      </div>
      <div class="card-body" style="background: #b6dbd4">
        <blockquote class="blockquote mb-0">
          <p><%= post.content %></p>
          <footer class="blockquote-footer">author: <cite title="Source Title"><%= post.author.full_name %><p style="font-size: 13px"><%= post.created_at.to_date.strftime("%d %B, %Y") %></p></cite></footer>
        </blockquote>
        <%= link_to 'Show', post, class:"btn btn-outline-success" %> 
      </div>
    </div>
  <% end %>
</div>

 