<div class="card mb-3, show">
  <% if @post.image.attached? %>
	<!-- @post.image.present? will always return true, use attached? to check presence -->
	    <%= image_tag @post.image ,alt: 'pic', style:"height: 500px; margin: 5% 0 0 0",  class: "mx-auto d-block" if @post.image.attached? %>
  <% else %>
    <%= image_tag("https://cs8.pikabu.ru/post_img/big/2016/02/04/7/145458292112119207.jpg", {:style => "width: 500px; margin: 3% auto"}) %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"> <%= @post.title %> </h5>
    <p class="card-text"> <%= @post.content %> </p>
      <p class="blockquote-footer">author: <%= full_name(@post) %></p>
      <p class="blockquote-footer" style="font-size: 13px">
        <span data-toggle="tooltip" data-placement="top" title="(<%= @post.created_at %>)">
          <%= fa_icon "calendar" %> <%= @post.created_at.to_date.strftime("%d %B, %Y") %>
          <%= fa_icon "eye", style: "margin: 0 10px" %><%= @post.impressionist_count(:filter=>:ip_address) %>
        </span>
      </p>

  </div>
</div>
  <% if current_user %>
    <% if @post.author_id == @current_user.id  %>
      <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-outline-success' %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-success' %>
    <% end  %>
  <% end  %>


<%= render @post.comments %>
<br>
<%= render 'comments/form' %>
